/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 94vh;
  padding: 10vh 0;
  /*   margin-top: 6vh;
  margin-bottom: 10vh; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 75vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.typing-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.typing-wrapper h1 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(25%, var(--secondary)),
    to(var(--accent))
  );
  background: -o-linear-gradient(top, var(--secondary) 25%, var(--accent) 100%);
  background: linear-gradient(180deg, var(--secondary) 25%, var(--accent) 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0;
  color: #fff;
  overflow: hidden;
  border-right: 3px solid white;
  border-left: 3px transparent transparent;
  white-space: nowrap;
  -webkit-animation:
    typing 2.8s steps(30, end),
    blink-caret 0.84s step-end infinite;
  animation:
    typing 2.8s steps(30, end),
    blink-caret 0.84s step-end infinite;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: #03010e;
  border-radius: 10vw;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-color: #cf71ff8f;
  border-style: solid;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 28px;
  padding: 8px 20px;
  font-family: inherit;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background: #2e09832f;
}

.button:hover {
  text-shadow: 0 0 30px var(--accent);
  color: var(--accent);
}

h1 {
  font-size: 64px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(25%, var(--secondary)),
    to(var(--accent))
  );
  background: -o-linear-gradient(top, var(--secondary) 25%, var(--accent) 100%);
  background: linear-gradient(180deg, var(--secondary) 25%, var(--accent) 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.general-text {
  line-height: 1.6;
  padding: 0.5vh 0 3vh 0;
  text-align: center;
  font-size: 18px;
  color: white;
  max-width: 85%;
  margin: 0 auto;
}

.general-text-links {
  color: var(--accent);
  text-decoration: none;
}

.flex-cont {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.my-tech-header {
  margin: 10vh 0 2vh 0;
  padding: 60px 0 0 0;
  font-size: 48px;
  background: var(--accent);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: 300;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

figure {
  margin: 0 auto;
  background: var(--primary);
  width: 85%;
  border-radius: 5px;
  height: 0.5em;
  margin-bottom: 2vh;
}

.tech-svg-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85%;
}

.tech-svg-cont img {
  width: 24%;
  padding: 10px;
}

/* github repo cards */
#projects {
  display: -ms-grid;
  display: grid;
}

#top-projects-section {
  display: -ms-grid;
  display: grid;
  font-weight: 200;
  -ms-grid-columns: 1fr 3vw 1fr 3vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 3vw;
}

.github-link {
  color: #015fbd;
  text-decoration: none;
}

.github-repo-title,
.github-repo-desc,
.github-repo-info {
  padding: 0 10px;
}

.github-repo-title,
.github-repo-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.github-repo-cont {
  display: -ms-grid;
  display: grid;
  color: #d7d9e4;
  background: #0d1117;
  border-radius: 12px;
  width: 350px;
}

.github-repo-desc {
  margin: 0;
}

.github-repo-info {
  gap: 6px;
}

.github-repo-title-text {
  margin: 6px;
  font-weight: 300;
}

.octicon-repo {
  width: 20px;
  padding: 0 4px;
  overflow: visible;
}

#contact-me {
  margin: 2vh;
}

#contact-me-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

footer section h1 {
  margin-top: 0;
}

@media (max-width: 450px) {
  .tech-svg-cont img {
    width: 27%;
  }
}

@media (min-width: 530px) {
  .tech-svg-cont img {
    width: 19%;
  }
  h1 {
    font-size: 70px;
  }
  .general-text {
    font-size: 20px;
  }
  .my-tech-header {
    font-size: 54px;
  }
  #contact-me-icons a img {
    width: 60px;
  }
}

@media (min-width: 630px) {
  h1 {
    font-size: 76px;
  }
  .general-text {
    font-size: 21px;
  }
  .my-tech-header {
    font-size: 66px;
  }
}

@media (min-width: 750px) {
  .general-text {
    font-size: 22;
  }
  .tech-svg-cont {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tech-svg-cont img {
    padding: 18px;
    width: 17%;
  }
  .my-tech-header {
    font-size: 72px;
  }
  #contact-me-icons a img {
    width: 70px;
  }
}

@media (min-width: 900px) {
  .general-text {
    font-size: 23x;
  }
}

@media (min-width: 1050px) {
  .general-text {
    font-size: 24px;
  }
  h1 {
    font-size: 84px;
  }
  .tech-svg-cont img {
    width: 125px;
  }
  #contact-me-icons a img {
    width: 78px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
  }
  #contact-me-icons a img {
    width: 84px;
  }
}

@media (max-width: 1160px) {
  #top-projects-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  #top-projects-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
