/* 
CSS not updating? Press Ctrl + Shift + R

2 color paletes to work from:
https://mycolor.space/?hex=%239FC164&sub=1
https://mycolor.space/?hex=%23894478&sub=1

gradients are to be decided!
*/

:root {
  --background-color: #02000D;
  --primary: #240d59;
  --secondary: #443C68;
  --accent: #cf71ff;

  /* settings for background.js */
  --star-count: 250;
  --speed: 0.3;

  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

body, :root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  z-index: -1;
  min-height: 100%; 
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  /* background colors with opacity lowered */
  background: #02000D8f;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  padding: 6px 0;
  font-size: 14.5px;
  font-weight: 200;
}

nav ul a li {
  display: inline-flex;
  color: white;
  transition: 0.2s;
}

nav ul a li:hover {
  text-shadow: 0 0 30px var(--accent);
  color: var(--accent);
}

#nav-name {
  font-size: 26px;
}

@media (min-width: 500px) {
  nav ul a {
    font-size: 17px;
  }
  #nav-name {
  font-size: 30px;
  }
}

@media (min-width: 600px) {
  nav ul a {
    font-size: 20px;
  }
  #nav-name {
  font-size: 36px;
}
}

@media (min-width: 700px) {
  nav ul a {
    font-size: 21px;
  }
}

@media (min-width: 750px) {
  nav ul {
  justify-content: flex-start;
  }
  nav ul a {
    padding: 6px 25px;
  }
  #nav-name {
    font-size: 40px;
  }
}
  
