/* 
CSS not updating? Press Ctrl + Shift + R

2 color paletes to work from:
https://mycolor.space/?hex=%239FC164&sub=1
https://mycolor.space/?hex=%23894478&sub=1

gradients are to be decided!
*/

:root {
  --background-color: #02000D;
  --primary: #226271;
  --secondary: #63AD73;
  --accent: #63AD73;
  --secondary-accent: #00ACDCaf;

  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

body, :root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

canvas {
  position: fixed;
  z-index: -1;
  min-height: 100%; 
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  /* background colors with opacity lowered */
  background: #232b3ebf
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  padding: 6px 0;
}

nav a li {
  display: inline-flex;
  color: white;
  font-size: 13px;
}

#nav-name {
  font-size: 24px;
}

body .intro-wrapper {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-between;
}

body .intro-wrapper .pfp-container {
  display: flex;
  justify-content: center;
  border-radius: 50vw;
  margin: 75px auto;
  width: 65vw;
  height: 65vw;
  background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);
}

div #pfp {
  width: 59vw;
  height: 59vw;
  border-radius: 50vw;
  object-fit: cover;
  align-self: center;
}

.button-cont {
  display: flex;
  list-style: none;
  background: linear-gradient(180deg, var(--accent) 0%, var(--secondary-accent) 100%);
  border-radius: 10vw;
  align-self: center;
  justify-content: center;
  width: 70vw;
  height: 14vw;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  font-size: 28px;
}

h1 {
  margin: 20vh 0 5vh 0;
  padding: 60px 0 0 0;
  font-size: 64px;
  background: linear-gradient(180deg, #226271 55%, #63AD73 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
}

.general-text {
  line-height: 1.6;
  padding:0.5vh 0 3vh 0;
  text-align: center;
  font-size: 18px;
  color:white;
  max-width: 85%;
  margin: 0 auto;
}

.flex-cont { 
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.my-tech-header {
  margin: 10vh 0 2vh 0;
  padding: 60px 0 0 0;
  font-size: 48px;
  background: var(--accent);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: 300;
}

figure {
  margin: 0 auto;
  background: var(--secondary-accent); 
  width: 85%;
  border-radius: 5px;
  height: 0.5em;
  margin-bottom: 2vh;
}

.tech-svg-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tech-svg-cont img {
  width: 26%;
  padding: 10px 0 10px 0;
}

/* github repo cards */

#top-projects-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3vh;
}

.github-repo-title, .github-repo-desc, .github-repo-info {
  padding: 0 10px;
}

.github-repo-title, .github-repo-info {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}

.github-repo-cont {
  background: white;
  border-radius: 12px;
  width: 350px;
}

.github-repo-desc {
  margin: 0;
}

.github-repo-info {
  gap: 6px;
}

.github-repo-title-text {
  margin: 6px;
}

.octicon-repo {
  width: 20px;
  padding: 0 4px;
}

#contact-me-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 78vh;
  justify-content: space-between;
}

#earth {
  display: flex;
  width: 100%;
}