/* 
2 color paletes to work from:
https://mycolor.space/?hex=%239FC164&sub=1
https://mycolor.space/?hex=%23894478&sub=1
*/

:root {
  font-family: 'Outfit';
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

nav {
  display: block;
  background: linear-gradient(180deg, #62416bb5, #6c8395b5);
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  padding: 6px 0;
}

nav a li {
  display: inline-flex;
  color: white;
  font-size: 13px;
}

#nav-name {
  font-size: 24px;
}

body {
  margin: 0;
}

#moon {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.pfp-container {
  border-radius: 50vw;
  margin: 75px auto;
  width: 56vw;
  height: 56vw;
  background: linear-gradient(180deg, #894478 0%, #65909a 100%);
}

#pfp {
  margin: 75px auto;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  object-fit: cover;
  position: relative;
}

.contact-me-cont {
  margin: 0 auto;
  list-style: none;
  max-width: 60vw;
  background: linear-gradient(180deg, #894478 0%, #65909a 100%);
  border-radius: 10vw;
}

.contact-me {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 0px 6px;
}

h1 {
  
  font-size: 54px;
  background: linear-gradient(180deg, #226271 55%, #63AD73 100%);
  background-clip: text;
  color: transparent;
  text-align: center;
}