<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>404 Error</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>404: Not found</h1>
        <p>Oh no! It looks like you (or the server) made a big oopsie!!!</p>
        <p>You probably just mispelled the url. If you think this was a server-side error, please contact me at <a href="mailto:oscar.gaske.cs@gmail.com">my email!</a></p>
    </body>
</html>