{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'main_styles.css' %}">
</head>
<nav>
    <ul>
        <a href="">
            <li id="nav-name">&ltOscar/></li>
        </a>
        <a href="">
            <li>about me</li>
        </a><a href="">
            <li>contact me</li>
        </a><a href="">
            <li>top projects</li>
        </a>
    </ul>
</nav>

<body>
    <div id="top-gradient">
        <img id="moon" src="{% static 'moon.svg' %}" alt="Drawn moon picture">
        <div class="pfp-container">
            <img id="pfp" src="{% static 'pfp.jpg' %}" alt="Profile picture">
        </div>
        <div class="contact-me-cont">
            <a class="contact-me" href="">
                <li>Contact me</li>
            </a>
        </div>

    </div>
    <div id="middle-gradient">
        <h1>about me</h1>
    </div>
</body>

</html>