{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'layout.css' %}">
    {% block extra_links %}
    {% endblock %}
</head>

<canvas id="canvas"></canvas>

<div id="home"></div>

<nav>
    <ul>
        <a href="#home">
            <li id="nav-name">&ltOscar/></li>
        </a>
        </button>
        <a href="#about-me">
            <li>about me</li>
        </a><a href="#top-projects">
            <li>top projects</li>
        </a><a href="#contact-me">
            <li>contact me</li>
        </a>
    </ul>
</nav>

<body>
    {% block body %}
    {% endblock %}
    <script src="{% static 'js/background.js' %}"></script>
</body>

</html>