{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main_styles.css' %}">
</head>

<canvas id="canvas"></canvas>

<nav>
    <ul>
        <a href="">
            <li id="nav-name">&ltOscar/></li>
        </a>
        <a href="#about-me">
            <li>about me</li>
        </a><a href="">
            <li>contact me</li>
        </a><a href="">
            <li>top projects</li>
        </a>
    </ul>
</nav>

<body>
    <div class="intro-wrapper">
        <img id="moon" src="{% static 'moon.svg' %}" alt="Drawn moon picture">
        <div class="pfp-container">
            <img id="pfp" src="{% static 'pfp.jpg' %}" alt="Profile picture">
        </div>
        <div class="button-cont">
            <a class="button" href="">
                <li>Contact me</li>
            </a>
        </div>
    </div>
    <h1 id="about-me">about me</h1>
    <p class="about-me-text">
        Hello there! I’m Oscar, but you might know me online as kureal (or kurealnum)!
        I’m very interested in Django, SQL, and anything python related. Whilst I would like to pursue
        a career as a full stack developer, I would much prefer to start in back-end and work my way up.</p>

    <p class="about-me-text">
        I do love Django, but I’m always open to learning new and different technologies. For example, I’ve
        been learning Java just for the fun of it! However, it has been very beneficial towards my skills
        in object oriented programming.
    </p>
    <div class="flex-cont">
        <div class="button-cont">
            <a href="https://docs.google.com/document/d/104CdIhV0xpPLE5--gmSbonsOXHvxtyxsc5pmr79R42k/edit?usp=sharing"
                class="button">
                <li>My Resume</li>
            </a>
        </div>
    </div>

    <h1 class="my-tech-header">my stack</h1>
    <div class="header-line"></div>

    <div class="tech-svg-cont">
        <img src="{% static 'images/tech_icons/C.svg' %}" alt="C icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Django.svg' %}" alt="Django icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Flask-Dark.svg' %}" alt="Flask icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Java-Dark.svg' %}" alt="Java icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/JavaScript.svg' %}" alt="JavaScript/JS icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Python-Dark.svg' %}" alt="Python/Py icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Github-Dark.svg' %}" alt="Github icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Git.svg' %}" alt="Git icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/Sqlite.svg' %}" alt="Sqlite icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/HTML.svg' %}" alt="HTML icon" class="tech-svg">
        <img src="{% static 'images/tech_icons/CSS.svg' %}" alt="CSS icon" class="tech-svg">
    </div>

    <h1 class="my-tech-header">familiar technologies</h1>
    <div class="header-line"></div>

    <div class="tech-svg-cont">
        <img src="{% static 'images/tech_icons/LaTeX-Dark.svg' %}" alt="" class="tech-svg">
        <img src="{% static 'images/tech_icons/Linux-Dark.svg' %}" alt="" class="tech-svg">
        <img src="{% static 'images/tech_icons/Unity-Dark.svg' %}" alt="" class="tech-svg">
        <img src="{% static 'images/tech_icons/Blender-Dark.svg' %}" alt="" class="tech-svg">
        <img src="{% static 'images/tech_icons/VSCode-Dark.svg' %}" alt="" class="tech-svg">
    </div>

    <script src="https://unpkg.com/starback@2.1.1/dist/starback.global.js"></script>
    <script>
        const canvas = document.getElementById('canvas');
        const starback = new Starback(canvas, {
            type: 'dot',
            quantity: 100,
            direction: 225,
            backgroundColor: ['#0e1118', '#232b3e'],
            randomOpacity: true,
        });
    </script>
</body>

</html>